body {
	margin-top: 5%;
	background-color: #263238;
	color: white;
	font-size: 400%;
	text-align: center;
}

html {
	font-family: 'Lobster', cursive;
}

.amount {
	font-size: 450%;
	color: #08c;
}
.input-field p, .input-field .select-wrapper {
	display: inline-block;
	clear: both;
	float: none;
}

.picker__date-display {
	background-color:#08c;
	font-family: 'Lato', sans-serif;
  }

  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
	background-color:#08c;
	font-family: 'Lato', sans-serif;
}

.select-wrapper ul li span {
	color: #08c;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
.footer {
    position: fixed;
    left: 0;
	bottom: 0;
	margin-top: 2%;
	width: 100%;
    background-color: #014c72;
    color: white;
	text-align: center;
	font-size: 25%;
	font-family: 'Lato', sans-serif;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	margin-bottom: 2%;
	background-color: #b70000;
	color: white;
	text-align: center;
	font-size: 25%;
	font-family: 'Lato', sans-serif;
}

.hidden {
	display: none;
}

.bigger {
	width: 128px;
	height: 128px;
}